<html>
	<link rel="stylesheet" type="text/css" href="https://raw.githack.com/TropicMango/MangoSite/master/src/template/nav.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
	    .main_img {
    	  width: 30vw;
      	  height: 30vh;
    	  overflow: hidden;
    	  object-fit: contain;
    	  background-color: #000000;
    	  float: left;
		}
		body {
		  margin: 0px;
		  background-color: #000;
		  color: white;
		  
		}
		.title {
		  text-align: left;
		  font-size: 10vh;
		}
		
	</style>
	<head>
		<title>Tropic Mango</title>
	</head>
	<body>
	    <div style="border:1px solid grey; width:100%">
	      <ul>
  		    <li><a href="/">Home</a></li>
  		    <li><a href="/project">Projects</a></li>
  		    <li><a href="/contact">Contact</a></li>
  		    <li style="float:right"><a class="active" href="about">About</a></li>
		  </ul>
		  <img class="main_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Mango.png">
		  <p class="title">
		  About
		  ~Tropic Mango~<br> 
		  Programmer & Developer<br>
		  </p>
		</div>
		
		<div style="margin-left: 5%; width: 90%; border: 1px solid grey; word-wrap: break-word;">
		  <p id= "code_text"></p>
		</div>
	</body>
	<script>
	  var timer = setInterval(load , 1); 
	  var text = "";
	  var i;
	  var inc = 1;
	  
	  function load(){
	    for(i=0; i<10; i++){ text = Math.floor(Math.random()*2) + " " + text; }
	    document.getElementById("code_text").innerHTML = text;
	    
	    if(inc > 500){ 
	      clearTimeout(timer); 
	      timer = setInterval(remove , 1); 
	    }else{
	      inc++;
	    }
	  }
	  function remove(){
	    text = text.slice(10);
	    document.getElementById("code_text").innerHTML = text;
	    if(text.length == 0){
	      clearTimeout(timer); 
	    }
	  }
	</script>
</html>