<html>
	<link rel="stylesheet" type="text/css" href="https://raw.githack.com/TropicMango/MangoSite/master/src/template/nav.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
	    .main_img {
	      margin-top: auto;
    	  width: 30vw;
      	  height: 30vh;
    	  overflow: hidden;
    	  object-fit: contain;
    	  background-color: #000000;
    	  float: left;
		}
		body {
		  margin: 0px;
		  background-color: #111;
		  color: white;
		  
		}
		.title {
		  text-align: left;
		  font-size: 10vh;
		}
		.banner {
		  border: 2px solid #265728; 
		  width: calc(100vw - 4px); 
		  background-color: #000;
		  height: 30vh;
		}
	</style>
	<head>
		<title>Contact Mango</title>
	</head>
	<body>
	    <ul>
  		  <li><a href="/">Home</a></li>
  		  <li><a href="/project">Projects</a></li>
  		  <li><a a class="active">Contact</a></li>
  		  <li style="float:right"><a href="about">About</a></li>
		</ul>
	    <div class="banner">
		  <img class="main_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Mango.png">
		  <p style="font-size: 9vh; margin: 0vh; margin-top: 5vh;">Contact Tropic Mango</p>
		  <p style="font-size: 4vh; margin: 0vh;">Please don't spam T^T</p>
		</div>
		
		<div style="margin-left: 10%; width: 80%; border: 0px solid grey; word-wrap: break-word;">
		  <p id= "code_text" style="font-size: 3vh; text-align:center;"></p>
		</div>
		<p> Email: charliean19@gmail.com </p>
		<p> Currently working on sending mail directly from page </p>
	</body>
<html>