<html>
	<style>
		img {
    		width: 100%;
    		height: 93%;
    		overflow: hidden;
    		object-fit: contain;
    		text-align: center;
    		background-color: #000000;
		}
	</style>
	<head>
		<title>Tropic Mango</title>
	</head>
	<script type='text/javascript' src="include.js"></script> 
	<body>
		<img src="Mango.png">
		<div w3-include-html="nav.html"></div> 
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
		This is my webpage!<br>
	</body>
	<script>
		includeHTML();
	</script>
</html>