<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--<script type='text/javascript' src="https://raw.githack.com/TropicMango/MangoSite/master/src/script/infinity_craft.js"></script>-->
  <script type='text/javascript' src="../script/infinity_craft.js"></script>
  <head>
    <style>
	  body {
	    margin: 0;
		background-color: #111;
		color: white;
	  }
	  #factory_canvas {
	    border: 1px solid green;
	    position: fixed;
	    width: 80%;
	    height: calc(100% - 2px);
	  }
	  #selector_canvas {
	  	border: 1px solid blue;
	    position: fixed;
	    left: 80%;
	    width: calc(20% - 2px);
	    height: calc(100% - 2px);
	  }
    </style>
  </head>
  <body onload="startGame()">
    <div id="factory_canvas"> </div>
    <div id="selector_canvas"> 
      <div id="units"> </div>
      <div id="control">
        <button onclick="resetCamera()" class="ctrl_btn">center</button><br>
        <button onclick="addUnit()" class="ctrl_btn">test</button><br>
      </div>
    </div>
  </body>
<html>