<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="https://raw.githack.com/TropicMango/MangoSite/master/src/template/nav.css">
	<!--<script type='text/javascript' src="https://raw.githack.com/TropicMango/MangoSite/master/src/script/infinity_craft.js"></script>-->
	<script type='text/javascript' src="../script/infinity_craft.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
	<head>
		<style>
		  body {
			margin: 0;
			background-color: #111;
			color: white;
		  }
		  .center {
			text-align: center;
		  }
		  .projects-wrapper {
		    scroll-snap-type: mandatory;
    		scroll-snap-points-y: repeat(93vh);
    		scroll-snap-type: y mandatory;
		  }
		  .projects-wrapper > div {
		  	scroll-snap-align: start;
		  	height: 93vh;
		  	border: 1px solid grey;
		  	position: relative;
		  }
		  .projects-wrapper > div > div > img {
		  	width: 90%;
		  	height: 93vh;
		  	object-fit: contain;
		  	text-align: center;
		  	margin-left: auto;
  			margin-right: auto;
		  	display: block;
		  }
		  .info {
		    float:right; 
		    width: 40%; 
		    top: 50%; 
		    left: 60%; 
		    position: absolute; 
		    transform: translate(0, -50%);
  		    -ms-transform: translate(0, -50%);
		  }
		  .play_btn {
		    -webkit-transition-duration: 0.5s; /* Safari */
			transition-duration: 0.5s;
			background-color: Transparent;
			color: white;
			font-size: 5.7vh;
			padding: 12px 48px;
			border: 1px solid white;
			cursor: pointer;
			text-align: center;
			border-radius: 4vh;
		  }
		  .play_btn:hover {background: #eee;}
		  .overlay {
		    position: fixed;
		    display: none;
		    width: 100vw;
		    height: 100vh;
		    background-color: rgba(255,255,255,0.2);
		    z-index:2;
		  }
		  .overlay_input {
		    position: fixed;
		    width: 90vw;
		    height: 90vh;
		    top: 8.5%;     left: 5%;
		    background-color: rgba(40,40,40,1);
		    z-index: 3;
		    cursor: pointer;
		    text-align: center;
		    box-sizing: border-box;
		    border: 4px solid grey;
		    border-radius: 10px;
		  } 
		  .overlay_exit_btn {
		    top: 10.5%; left: 92%;
		    position: fixed;
		    text-align: center;
		    font-size: 1.1vh;
		    background: red;
		    width: 3.5vh;
		    height: 3.5vh;
		    border: 2px solid grey;
		    border-radius: 15%;
		    color: white;
		  }
	</style>
	</head>
	<body>
	   <div id="gameOverlay" class="overlay">
		 <div class="overlay_input">
		   <div id="game_canvas"></div>
		   <button onclick="exitGame()" class="overlay_exit_btn"><b>x</b></button><br>
		 </div>
	   </div>
	
	   <div id="downloadOverlay" class="overlay">
		 <div class="overlay_input">
		   <h1 id="download_title">Title Here</h2>
		   <div id="download_discription">Game Discription</div>
		   <button onclick="download()" class="play_btn"> Download Game </button>
		   <button onclick="exitLoad()" class="overlay_exit_btn"><b>x</b></button><br>
		 </div>
	   </div>
	
	
		<ul>
  		  <li><a href="/">Home</a></li>
  		  <li><a class="active">Projects</a></li>
  		  <li><a href="/contact">Contact</a></li>
  		  <li style="float:right"><a href="about">About</a></li>
		</ul>

		
        <div class="projects-wrapper">

            <!-- CURRENT PROJECTS -->>
            <h1 class="center">~ Current Project ~</h1>

            <!-- Shields Up -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Shields_Up.png">
                </div>
                <div class="info">
                    <h1>Shields Up  *WIP*</h1>
                    <p>
                        As an lost adventurer you run around and <br>
                        pick up items to discover your endless potential
                    </p>
                    <button onclick="loadDownload(0)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Infinity Craft -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Infinity_Craft.PNG">
                </div>
                <div class="info">
                    <h1>Infinity Craft  *WIP*</h1>
                    <p>
                        build stuff <br>
                        still WIP
                    </p>
                    <button onclick="location.href='/infinity_craft'" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- PAST PROJECT -->>
            <h1 class="center">~ Past Project ~</h1>

            <!-- Fantasy Fire -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Fantasy_Fire.PNG">
                </div>
                <div class="info">
                    <h1>Fantasy Fire</h1>
                    <p>
                        one way out <br>
                        find the solution
                    </p>
                    <button onclick="location.href='/infinity_craft'" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Battle Snake -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Snake.png">
                </div>
                <div class="info">
                    <h1>Battle Snake</h1>
                    <p>
                        *came out before sliter.io* <br>
                        run around and take chunks off of the enemy
                    </p>
                    <button onclick="loadDownload(1)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Where's My Sheep -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Where's_My_Sheep.png">
                </div>
                <div class="info">
                    <h1>Where's My Sheep</h1>
                    <p>
                        As a UFO we all know the mission <br>
                        <b>take the sheep!</b>
                    </p>
                    <button onclick="loadDownload(2)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Migration -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Migration.png">
                </div>
                <div class="info">
                    <h1>Migration</h1>
                    <p>
                        Lonely colorless ball <br>
                        with one goal: survive
                    </p>
                    <button onclick="loadDownload(3)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Mesh -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Mesh.png">
                </div>
                <div class="info">
                    <h1>Mesh</h1>
                    <p>
                        Simple Little Math Game <br>
                        run around, collect numbers, reach goal
                    </p>
                    <button onclick="loadDownload(4)" class="play_btn">Play</button><br>
                </div>
            </div>

            <h1 class="center">~ Fellow Project ~</h1>

            <!-- Dungeon Invasion -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Dungeon.png">
                </div>
                <div class="info">
                    <h1>Dungeon Invasion</h1>
                    <p>
                        Choose your character <br>
                        kill and collect points
                    </p>
                    <button onclick="loadDownload(5)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Circle Game -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Circle.png">
                </div>
                <div class="info">
                    <h1>Circle Game</h1>
                    <p>
                        it's like agario <br>
                        just live~
                    </p>
                    <button onclick="loadDownload(6)" class="play_btn">Play</button><br>
                </div>
            </div>

            <!-- Tank -->
            <div>
                <div style="float:left; width: 60%">
                    <img class="card_img" src="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/img/Tank.png">
                </div>
                <div class="info">
                    <h1>Tanks</h1>
                    <p>
                        Bounce your bullet off walls <br>
                        one shot is kill
                    </p>
                    <button onclick="loadDownload(7)" class="play_btn">Play</button><br>
                </div>
            </div>

            <a href="" download id="download" hidden></a>


        </div>

	</body>
	<script>
	  function loadDownload(gameID) {
	    document.getElementById("downloadOverlay").style.display = "block";
	    $('body').css({'overflow':'hidden'});
		$(document).bind('scroll',function () { 
		  window.scrollTo(0,0); 
		});
		switch(gameID){
		  case 0:
		    document.getElementById("download_title").innerHTML="Shields Up";
			document.getElementById("download_discription").innerHTML="Sorry Currently Unavailable";
			document.getElementById('download').href="";
			break;
		  case 1:
			document.getElementById("download_title").innerHTML="Snake";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/BattleSnakes(PVP).jar";
			break;
		  case 2:
			document.getElementById("download_title").innerHTML="Where's_My_Sheep";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/UFO_GAME.jar";
			break;
		  case 3:
			document.getElementById("download_title").innerHTML="Migration";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/migration.jar";
			break;
		  case 4:
			document.getElementById("download_title").innerHTML="Mesh";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/Mesh.jar";
			break;
		  case 5:
			document.getElementById("download_title").innerHTML="Dungeon";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/Dungeon_Inv.jar";
			break;
		  case 6:
			document.getElementById("download_title").innerHTML="Circle";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/Circle_Game.jar";
			break;
		  case 7:
			document.getElementById("download_title").innerHTML="Tank";
			document.getElementById("download_discription").innerHTML="idrk where goes here";
			document.getElementById('download').href="https://raw.githubusercontent.com/TropicMango/MangoSite/master/src/app/Tanks.jar";
			break;
		  case 8:
		  
		}
	  }
	  
	  function loadGame(gameID) {
	    document.getElementById("gameOverlay").style.display = "block";
	    $('body').css({'overflow':'hidden'});
		$(document).bind('scroll',function () { 
		  window.scrollTo(0,0); 
		});
		startGame();
	  }
	  
	  function download() {
	    document.getElementById('download').click();
	  }
	  
	  function exitLoad() {
	    document.getElementById("downloadOverlay").style.display = "none";
	    $(document).unbind('scroll'); 
        $('body').css({'overflow':'visible'});
	  }  
	  
	  function exitGame() {
	    document.getElementById("gameOverlay").style.display = "none";
	    $(document).unbind('scroll'); 
        $('body').css({'overflow':'visible'});
	  }  
	  
	</script>
</html>